@page
@model IndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The secret value is ..... "@Configuration["SecretKey"]"</p>
    <p>The SecretKey1 value is ..... "@Configuration["Secrets:SecretKey1"]" </p>
    <p>The SecretKey2 value is ..... "@Configuration["Secrets:SecretKey2"]" </p>
    <p>Ran Decryption? ..... "@Configuration["RanDecryption"]" </p>
</div>

